@keyframes comeDownFromTop {
  to {
    transform: translateY(0px);
  }
}
:root {
  font-size: 18px;
  font-family: "Inter";
  color-scheme: dark;
  --background: hsl(300deg, 3%, 12%);
  --background-80: hsla(300deg, 3%, 12%, 0.8);
  --secondary-background: hsla(240, 5%, 18%, 0.6);
  --font-color: #fffbfe;
  --font-color-40: hsl(315, 100%, 99%, 0.4);
  --main: #faf33e;
  --main-half-opacity: #faf33e70;
  --secondary: hsl(213deg, 94%, 68%);
  --secondary-30: hsl(213, 94%, 68%, 0.3);
  --secondary-dark: #2563eb;
  --project-card-bg: hsl(240deg 8% 14%);
}
@media (max-width: 640px) {
  :root {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --background: #fffbfe;
    --background-80: hsla(315, 100%, 99%, 0.8);
    --secondary-background: hsla(315, 2%, 78%, 0.7);
    --font-color: #131315;
    --font-color-40: hsl(240, 5%, 8%, 0.4);
    --secondary: hsl(213deg, 94%, 45%);
    --secondary-30: hsl(213deg, 94%, 68%, 0.3);
    --project-card-bg: hsl(240deg, 5%, 90%);
  }
  input {
    background: hsl(240deg, 5%, 86%);
  }
}
* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0 auto;
  max-width: 96vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  --body-width: min(48rem, 72vw);
  --body-margin-x: calc((100vw - var(--body-width)) / 2);
  width: var(--body-width);
  margin: 0 auto;
  color: var(--font-color);
  background-color: var(--background);
}
@media (max-width: 640px) {
  body {
    --body-width: min(48rem, 92vw);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: calc(1em + 0.725rem);
  max-width: 70ch;
}

@keyframes topBannerDropin {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.top-banner {
  font-size: 0.95rem;
  text-align: center;
  margin: 0 calc(-1 * var(--body-margin-x));
  padding: 5px 0;
  background: hsl(219deg, 100%, 6%);
  color: hsl(219deg, 100%, 95%);
  transform: translateY(-110%);
  animation: topBannerDropin 0.3s ease-in-out 5s forwards;
}
.top-banner .ua-flag {
  height: 1.2rem;
  vertical-align: middle;
}
.top-banner a {
  color: hsl(235deg, 100%, 84%);
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 1rem;
  min-height: 50px;
}
nav .nav--logo {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
nav #menu-toggle,
nav .hamburger-icon {
  display: none;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-weight: 500;
}
nav ul li {
  opacity: 0.6;
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}
nav ul li:hover {
  opacity: 1;
}
@media (min-width: 640px) {
  nav ul li {
    transform: translateY(-120px);
    animation-name: comeDownFromTop;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }
  nav ul li:nth-child(1) {
    animation-delay: 0.1s;
  }
  nav ul li:nth-child(2) {
    animation-delay: 0.18s;
  }
  nav ul li:nth-child(3) {
    animation-delay: 0.26s;
  }
  nav ul li:nth-child(4) {
    animation-delay: 0.34s;
  }
}
@media (max-width: 640px) {
  nav {
    margin-top: 1rem;
    z-index: 10;
  }
  nav .hamburger-icon {
    margin-left: auto;
    display: block;
    z-index: 11;
  }
  nav .hamburger-icon::before {
    transform: translateY(-4px);
  }
  nav .hamburger-icon::after {
    transform: translateY(4px);
  }
  nav .hamburger-icon::before, nav .hamburger-icon::after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    background: var(--font-color);
    cursor: pointer;
    transform-origin: center;
    transition: transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  nav ul {
    flex-direction: column;
    gap: 1.6rem;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 20vh 24px;
    color: var(--font-color);
    background-color: var(--secondary-background);
    backdrop-filter: blur(10px);
    transform: translateX(-100%);
    transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  nav ul li {
    font-weight: 500;
    opacity: 1;
    font-size: 2rem;
    transform: translateY(0) translateX(-50%);
    transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  nav ul li:nth-child(1) {
    transition-delay: 0.6s;
  }
  nav ul li:nth-child(2) {
    transition-delay: 0.7s;
  }
  nav ul li:nth-child(3) {
    transition-delay: 0.8s;
  }
  nav ul li:nth-child(4) {
    transition-delay: 0.9s;
  }
  nav #menu-toggle:checked ~ ul {
    transform: translateX(0);
  }
  nav #menu-toggle:checked ~ ul li {
    transform: translateX(0);
  }
  nav #menu-toggle:checked ~ .hamburger-icon::before {
    transform: rotate(45deg) translateY(50%);
  }
  nav #menu-toggle:checked ~ .hamburger-icon::after {
    transform: rotate(-45deg) translateY(-50%);
  }
}

footer {
  margin: 2.25rem 0 1.75rem 0;
  opacity: 0.7;
  font-size: 0.8rem;
}