.social-links {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem auto 0;
  width: fit-content;
}
.social-links a {
  transition: opacity cubic-bezier(0.6, 0, 0.3, 1) 150ms;
  opacity: 0.6;
}
.social-links a:hover {
  opacity: 1;
}

.styled-link {
  color: var(--secondary);
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
  text-decoration: underline;
}

.styled-link:hover {
  color: var(--secondary-dark);
}