.dp {
  --me-image-size: 0.9;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-size: calc(var(--me-image-size) * 100%);
  background-position: center;
  height: 100%;
  min-width: 100px;
}
.dp image {
  animation-name: fade-in;
  animation-duration: 1s;
}
.dp path#path-to-clip {
  transition: d 0.3s;
}
.dp .loading-state-mask {
  transform-origin: center;
  transform: scale(var(--me-image-size));
}
.dp .loading-state-mask rect {
  fill: var(--background-80);
}
.dp .loading-state-mask text {
  transform: translate(50%, 50%);
  text-anchor: middle;
  font-size: 1.8em;
  fill: var(--font-color);
}

body {
  margin-bottom: 100px;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

label:focus-within {
  outline: 2px solid var(--font-color);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

main {
  display: grid;
  margin-top: 40px;
  grid-template-columns: min(380px, 50%) auto;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: ". heading" "dp controls" "dp controls";
  column-gap: 28px;
}
@media (max-width: 640px) {
  main {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "heading" "dp" "controls";
    row-gap: 20px;
  }
}

.heading {
  grid-area: heading;
  text-align: center;
}

.dp-container {
  grid-area: dp;
  top: 40px;
  position: sticky;
  z-index: 1;
  display: flex;
  height: fit-content;
  width: fit-content;
  margin: 10px auto 0;
}
.dp-container .dp {
  --me-image-size: 0.94;
  width: 100%;
  max-width: 320px;
}
.dp-container .dp #dp--user-image {
  cursor: pointer;
}

.controls {
  grid-area: controls;
}
.controls ul {
  list-style: none;
  padding: 0;
}
.controls ul li {
  margin: 8px 0;
}
.controls ul li h5 {
  margin-bottom: 10px;
  font-size: 0.8em;
}
.controls ul li label {
  font-size: 0.8rem;
}
.controls ul li input {
  margin: 2px 3px;
}
.controls .input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 14px;
}
.controls .colors-input-container {
  --size: 40px;
  height: var(--size);
  display: flex;
  gap: 10px;
  align-items: center;
}
.controls .colors-input-container .color-input--selector {
  width: var(--size);
  height: var(--size);
  border: 3px solid var(--font-color-40);
  border-radius: 4px;
  cursor: pointer;
  box-sizing: content-box;
}
.controls .colors-input-container .color-input--selector:hover {
  border-color: var(--secondary);
}
.controls .colors-input-container .auto-button {
  margin-left: auto;
}
@media (max-width: 640px) {
  .controls .colors-input-container {
    --size: 58px;
  }
}
.controls .shape-input-container label {
  margin-right: 5px;
}
.controls .shape-input-container .shape-input .shape-input--selector {
  display: inline-block;
  text-transform: capitalize;
  cursor: pointer;
  padding: 8px 14px;
  font-size: 1.1em;
  border-radius: 4px;
  border: 2px solid var(--font-color-40);
  background: transparent;
}
.controls .shape-input-container .shape-input .shape-input--selector:hover {
  border-color: var(--secondary);
}
.controls .shape-input-container .shape-input input[name=shape]:checked + .shape-input--selector {
  border-color: var(--secondary);
  background: var(--secondary-30);
}

.choose-image-hint {
  font-size: 0.9em;
  opacity: 0.9;
}

.save-button {
  padding: 10px 32px;
  font-family: Inter;
  font-size: 0.9em;
  background: var(--background);
  color: var(--font-color);
  border-radius: 4px;
  font-weight: 600;
  transition: color 0.25s, background 0.15s;
  outline: 2px solid var(--font-color);
}
.save-button:not(:disabled):hover, .save-button:not(:disabled):focus {
  background: var(--font-color);
  color: var(--background);
}
.save-button:disabled {
  cursor: auto;
  opacity: 0.5;
}